
<html>

<body>
${name}：<br>
<br>
您好，我是。<br>
<br>
现提供公司的部分基础信息，供您参阅。<br>
<br>
公司名称：有限公司<br>
<br> 
招聘<br>
<br> 
公司网站：<a>http://www..cn</a><br>
<br>
公司地址：<br>
面试时间：${time}<br>
请着职业装<br>
<br>
琳<br>
招聘<br>
人力行政部<br>
有限公司<br>
地址：<br>
邮编：1<br>
邮箱：lvl<br>
电话：010-85   1511<br>
<br>
</body>
</html>