<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.rg">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="../images/title.png"/>
<title >xiao dong</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css" />
<link type="text/css"  href="//cdn.bootcss.com/bootstrap-fileinput/4.3.8/css/fileinput.css" />

<style type="text/css">
	.my-nav{
		border-right:1px solid gray;
	}
</style>
</head>


<body>

	<div class="page-header">
	  <h1>Header<small> Manager</small></h1>
	</div>

	<div>
	  	<div class="row">
	  		<!-- 左边导航栏 -->
		  	<div class="col-md-2 my-nav">
			  <ul class="nav nav-pills nav-stacked " role="tablist">
			    <li role="presentation" class="my-tab active">
			    	<a id="user" href="#user" aria-cotrols="user" role="tab" data-toggle="pill">用户信息</a>
			    </li>
			    <li role="presentation" class="my-tab">
			    	<a id="motai" href="#motai" aria-controls="motai" role="tab" data-toggle="modal" data-target="#myModal">模态对话框</a>
			    </li>
			    <li role="presentation" class="my-tab">
			    	<a id="mail" href="#mail" aria-controls="mail" role="tab" data-toggle="tab" data-target="#browseFile">邮件</a>
			    </li>
			  </ul>
			</div>
			<!-- 显示结果区域 -->
	  		<div class="col-md-10 tab-content">
	    		<div id="userContent" role="tabpanel" class="tab-pane active" >
	    			<table id="user-table"></table>
	    		</div>
	    		<div id="browseFile" role="tabpanel " class="tab-pane  active">
				        
	    		</div>
	  		</div>
		</div>
		<!-- 弹出对话框 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  		<div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
			      </div>

			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
	  		</div>
		</div>

	</div>
	<!-- 下边栏 -->
	<div id="footer" style="background-color:#d0e4fe;clear:both;text-align:center;">
		<hr/>
			版权 Coolfish Games
	</div>
	
	<script
	  src="https://code.jquery.com/jquery-2.2.4.min.js"
	  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	  crossorigin="anonymous">
	</script>
	<script th:src="@{./js/bootstrap.min.js}"></script> 
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.8/css/fileinput.min.css"></script>
	<script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.8/js/fileinput.js"></script>
	<script type="text/javascript">
	 $("#user").click(function(){
		 var htmlobj=$.ajax({url:"/user",async:false});
		 console.log(htmlobj);
		//$("#userContent").html(htmlobj.responseText);
		 $('#user-table').bootstrapTable({
			    columns: [{
			        field: 'name',
			        title: '名字'
			    }, {
			        field: 'password',
			        title: '密码'
			    }, {
			        field: 'type',
			        title: '类型'
			    }],
			    data:JSON.parse(htmlobj.responseText)
			});
		
	});
	 
	$(".my-tab").click(function(){
		$(".my-tab").removeClass('active');
		$(this).addClass('active');
	});
	
	</script>
	</body>
</html>